<Configuration status="info" name="softeng" packages="">
    <Properties>
        <!-- Get log level from system property which will be set from config.properties -->
        <Property name="logging.level">${sys:logging.level:-INFO}</Property>
    </Properties>
    
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${logging.level}">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>